.img img {
  width: 40vh;
  transition: 1s ease-in-out;
  transition-delay: 0.4s;
  border-radius: 50%;
  margin-top: 1rem;
  opacity: 0.6;
}
/* .img {
  background-color: var(--white);
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  opacity: 0.4;

} */

@media only screen and (max-width: 425px) {
  .img img{
    width: 20vh;
  }
}
