@import url(./__fb/icon__fb.css);
@import url(./__yt/icon__yt.css);
@import url(./__in/icon__in.css);

.icon {
  color: var(--white);
  margin: 0 0.5rem;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 0.5rem;
  cursor: pointer;
}
.icon i {
  font-size: 1rem;
  transition: 0.4s ease-in-out;
}

.icon:hover i {
  transform: scale(1.5);
}

@media only screen and (max-width: 425px) {
  .icon i {
    font-size: 1rem;
    padding: 0;
}
}