@import url(./__button/form__button.css);
.form {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 1.5rem;
  width: 100%;
  box-shadow: rgba(124, 122, 122, 0.35) 0px 5px 15px;
  transform: scale(0);
  transition: .5s ease-in-out;
  transition-delay: 1s ;
}

.form p {
  margin: 1rem 0;
  font-size: .7rem;
}

.form span {
  margin-right: .4rem;
}
